In [39]:
# Shhhhhhh......
import warnings
warnings.filterwarnings('ignore')
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3' 

# Other imports
import pandas as pd

In [40]:
# Get data from mongoDB
import ezmongo
df = ezmongo.get_data("GOOG","final")

In [41]:
#I solating the columns we want.
# Lets try all data points
input_df = df.drop(['Date','BuyOrSell'], axis=1)

output_df = df['BuyOrSell'].values

In [42]:

# number_of_columns = len(input_df.columns)

In [43]:
from keras.utils import to_categorical

# Step 2: One-hot encoding
# Even though the last columns is already 1 or 0, to_categorical needs to somehow convert this into 
# an array that looks like [x1,x2] and literally separate them into different states
# Try printing out output and outputs_df to see the difference.
output_hot_shot_encoded = to_categorical(output_df)

In [44]:
#Creating the NN. Import the stuff

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [45]:
#EDIT THIS SECTION OF CODE TO DESIGN YOUR OWN NEURAL NET.

#Create the model
model = Sequential()

#Setting general NN info here

number_of_inputs = len(input_df.columns)
#We should have at least 1 extra layer. Just a design choice.
number_of_layers = number_of_inputs + 1
#Currently, the plan is to have an N by N grid system based on the number of inputs. 
number_of_neurons_per_layer = number_of_layers + 1


#Adding the first input layer
model.add(Dense(units=number_of_neurons_per_layer, activation='relu', input_dim=number_of_inputs))

for i in range(number_of_layers):
    model.add(Dense(units=number_of_neurons_per_layer, activation='relu'))

#Adding the output layer
model.add(Dense(units=2, activation='softmax')) 
#Compiling
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [46]:
# One last look at what we're training the AI with
inputs_df.head(1)

   Adj Close     Close      High       Low      Open    Volume
0   0.327535  0.327535  0.341298  0.289089  0.276233  0.372115

In [47]:
#Training the neurons

model.fit(
    inputs_df,
    output_hot_shot_encoded,
    epochs=100,
    shuffle=False,
    verbose=0
)

In [48]:
# model.predict is what we use to see the neural net's output on real data
results = model.predict(inputs_df, verbose=2)

# This part basically will create an array with a bunch of [X,Y] inside.
# Each [X,Y] pair represents the probability of the AI deciding to buy or sell on that day.

3775/3775 - 0s

In [38]:
# Just to prove that the length of the results is equal to the length of the inputs. 
len(results) == len(inputs_df)

True

In [93]:
#SANDBOXXXXXXXX
df2 = df['BuyOrSell'].to_frame()

# What the heck is the order of the results?
# Lets split it up and try to find out how much sense it makes
col1, col2 = zip(*results)

def mapingFunc(x,y):
    if x > y:
        return 1
    else:
        return 0

# If the first col represents buy then when the first col's number is greater
# than the second col's number, 
result = list(map(mapingFunc, col1, col2))

In [96]:
#SANDBOX STUFF. Messing around to try to find out exactly 

# merged_df['AiBuys'] = buy
# merged_df['AISells'] = sell

df2['AIchoice'] = result
df2

      BuyOrSell  AIchoice
0           0.0         0
1           1.0         0
2           0.0         0
3           1.0         0
4           1.0         0
5           0.0         1
6           1.0         0
7           0.0         1
8           1.0         0
9           0.0         1
10          0.0         0
11          1.0         0
12          1.0         0
13          1.0         0
14          0.0         1
15          1.0         0
16          1.0         0
17          0.0         0
18          0.0         0
19          1.0         0
20          1.0         0
21          1.0         0
22          0.0         0
23          1.0         0
24          0.0         1
25          0.0         1
26          1.0         0
27          1.0         0
28          0.0         1
29          0.0         1
...         ...       ...
3745        0.0         1
3746        0.0         0
3747        1.0         0
3748        0.0         0
3749        1.0         0
3750        0.0         1
3751        1.0         0
3752        0.0         0
3753        0.0         0
3754        0.0         0
3755        1.0         0
3756        1.0         1
3757        0.0         1
3758        0.0         0
3759        1.0         0
3760        0.0         1
3761        0.0         1
3762        0.0         1
3763        0.0         0
3764        1.0         0
3765        1.0         0
3766        1.0         0
3767        0.0         0
3768        0.0         0
3769        0.0         0
3770        1.0         0
3771        1.0         0
3772        0.0         1
3773        1.0         0
3774        1.0         0

[3775 rows x 2 columns]

In [80]:
#Ok, so based on the model.predict, we had a 60something % accuracy.
#If the AI only made 
total_AI_buys/total_buys

0.6827852998065764

In [12]:
import pymongo

#I should probably put the information below into a hidden cofig file but it's all free anyway and this is a trial account. :shrug:
client = pymongo.MongoClient("mongodb+srv://ming:ming123@ferengai-tiysn.mongodb.net/test?retryWrites=true&w=majority")
db = client.ming_test
col = db.ming_test_col

In [13]:
upload = {"data":df.to_dict('records')}
upload['id'] = 0
upload['description'] = "A run with fake data"

In [14]:
col.drop()
col.insert(upload)

ObjectId('5d92a26fddd298bf421b64d9')